<template>
    <div>
        <h2>Product title</h2>
        <div>
            {{ price }}
        </div>
        <hr>
        <button class="btn btn-warning" @click="decrease">-1</button>
        <input type="number" :value="cnt" @input="onInput">
        <button class="btn btn-success" @click="increase">+1</button>
    </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
export default {
    computed: mapGetters(['price', 'cnt']),
    methods: {
        ...mapActions(['decrease', 'increase','setCnt']),
        onInput(e){
            this.setCnt(e.target.value)
        }
}
}
</script>